---
import IconTime from "../../assets/icon/IconTime.astro";
import ButtonPrimary from "../../components/ButtonPrimary.astro";
import PillSection from "../../components/PillSection.astro";
import IconPaint from "../../assets/icon/IconPaint.astro";
import IconSolutions from "../../assets/icon/IconSolutions.astro";
import Animado from "./Animado.astro";
---
<section class="w-[1224px] flex h-max justify-between py-36">
  
  <!-- Columna izquierda - Todo junto -->
  <Animado tipo="subir" delay={0} class="w-full">
    <div class="flex flex-col justify-start">
      <PillSection name="SOBRE NOSOTROS" />
      <h2 class="text-7xl font-bold leading-20">
        Nuestro <br/> Compromiso va <br /> mas allá de <br /> cumplir un plano
      </h2>
    </div>
  </Animado>

  <!-- Columna derecha -->
  <div class="w-full flex flex-col">
    <Animado tipo="subir" delay={100}>
      <div>
        <h3 class="font-extrabold text-xl mb-4">
          Contamos con más de 20 años de experiencia en el rubro, ofreciendo
          soluciones integrales de construcción con un enfoque personalizado,
          eficiente y orientado al detalle.
        </h3>

        <p class="text-lg font-bold text-[#5D5D5D] mb-4">
          En Beram, no solo ejecutamos proyectos: <span
            class="text-primary-blue font-black">acompañamos cada etapa</span
          > , desde la planificación hasta la entrega final, garantizando <span
            class="text-primary-blue font-black"
          >
            calidad, seguridad y cumplimiento de plazos.</span
          >
        </p>

        <p class="font-bold text-lg mb-6">Nuestros pilares:</p>
      </div>
    </Animado>

    <!-- Solo los pilares animados -->
    <Animado tipo="zoom" delay={250}>
      <ul class="flex items-center justify-between mb-8 px-4">
        <li class="flex flex-col items-center gap-2 font-extrabold text-base">
          <span class="bg-[#2C3E50] rounded-full size-12 flex justify-center items-center">
            <IconPaint />
          </span>Maquinaria Propia
        </li>
        <li><span class="w-[0.5px] h-12 bg-black block"></span></li>
        <li class="flex flex-col items-center gap-2 font-extrabold text-base">
          <span class="bg-[#2C3E50] rounded-full size-12 flex justify-center items-center">
            <IconTime />
          </span>Puntualidad Garantizada
        </li>
        <li><span class="w-[0.5px] h-12 bg-black block"></span></li>
        <li class="flex flex-col items-center gap-2 font-extrabold text-base">
          <span class="bg-[#2C3E50] rounded-full size-12 flex justify-center items-center">
            <IconSolutions />
          </span>Soluciones a Medida
        </li>
      </ul>
    </Animado>

    <Animado tipo="subir" delay={350}>
      <ButtonPrimary text="Conocé nuestra historia" />
    </Animado>
  </div>

</section>