---
import IconPlay from "../../assets/icon/IconPlay.astro";
import ButtonPrimary from "../../components/ButtonPrimary.astro";
import Animado from "./Animado.astro";
---

<section
  class="w-full max-w-[1920px] flex justify-between max-h-max h-screen px-3 gap-3"
>
  <div
    class="bg-[#F6F3EC] w-full h-full rounded-4xl flex flex-col justify-end px-16 py-"
  >
    <header class="mb-18 mt-36">
      <Animado tipo="subir" delay={100}>
        <h1 class="text-[82px] leading-24 font-bold mb-8 text-primary-blue">
          Creando espacios <br />
          Construyendo <br />
          Confianza
        </h1>
      </Animado>
     <Animado tipo="subir" delay={300}>
      <h2 class="text-xl font-extrabold mb-6">
        Más de 20 años construyendo obras que inspiran confianza <br /> y perduran
        en el tiempo.
      </h2>

      <p class="text-lg font-bold mb-14">
        Comprometidos con la calidad, la seguridad y el cumplimiento de plazos.
      </p>
      <ButtonPrimary text="Conocé nuestros proyectos " />
      </Animado>
    </header>
    <Animado tipo="derecha" delay={400}>
      <footer class="w-full flex justify-between items-center mb-10">
        <p class="flex items-center gap-5 text-2xl font-medium">
          <span class="text-[64px] font-bold text-[#2C3E50]">20</span>
          <span class="w-[0.5px] h-20 bg-black inline-block"></span>
          Años de <br /> experiencia
        </p>
        <div
          class="w-[180px] h-24 flex justify-center items-center rounded-lg bg-[#2C3E50]"
        >
          <IconPlay />
        </div>
      </footer>
    </Animado>
  </div>
  <Animado tipo="derecha" delay={500} class="w-full h-full">
    <div
      class="w-full h-full rounded-4xl bg-[url(src/assets/img/HeroSectionImage.jpg)] bg-center bg-cover brightness-90"
    >
    </div>
  </Animado>
</section>
