---
import PillSection from "../../components/PillSection.astro";
import CardProyect from "../../components/CardProyect.astro";
import Animado from "./Animado.astro";
---

<section class="w-full bg-[#efeadd] flex flex-col items-center h-max justify-center p-32">
  <Animado tipo="subir" class="w-full flex items-center justify-center" delay={0}>
  <PillSection name="OBRAS REALIZADAS" />
</Animado>
  <div class="flex flex-col items-center w-[1224px]">
     <Animado tipo="subir" class="w-full" delay={200}>
    <h2 class="text-7xl font-bold leading-20 text-center mb-14">
      Descubre nuestros <br> proyectos
    </h2>
</Animado>
  <CardProyect/>

  </div>
</section>
