---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Home from "../layouts/Home.astro";
import AboutUs from "../layouts/AboutUs.astro";
import Services from "../layouts/Services.astro";
import WhyChoose from "../layouts/WhyChoose.astro";
---

<Layout>
  <NavBar />
  <main class="w-full flex flex-col items-center">
    <Home />
    <AboutUs />
    <Services />
    <WhyChoose />
  </main>
</Layout>
