---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Home from "../layouts/pages/Home.astro";
import AboutUs from "../layouts/pages/AboutUs.astro";
import Services from "../layouts/pages/Services.astro";
import WhyChoose from "../layouts/pages/WhyChoose.astro";
import Proyects from "../layouts/pages/Proyects.astro";
import QuickConsult from "../layouts/pages/QuickConsult.astro";
import Footer from "../layouts/pages/Footer.astro";
import CardService from "../components/CardService.astro";
import Animado from "../layouts/pages/Animado.astro";
---

<Layout>
  <NavBar />
  <main class="w-full flex flex-col items-center overflow-x-hidden">
    <Home />
    <AboutUs />
    <Services />
    <WhyChoose />
    <Proyects />
    <QuickConsult />
    <Animado tipo="subir" delay={0}>
      <p class="pb-36 text-3xl font-bold italic text-center text-primary-blue">
        “Especialistas en obras civiles, refacciones y construcciones llave <br
        /> en mano en Buenos Aires”
      </p>
    </Animado>

    <Footer />
  </main>
</Layout>
