---
import ButtonPrimary from "../components/ButtonPrimary.astro";
---

<section
  class="w-full rounded-4xl relative bg-[url(src/assets/img/ServiceImage.jpg)] bg-center bg-cover min-h-[1000px] h-max overflow-hidden"
>
  <div
    class="h-full w-full rounded-4xl absolute flex justify-center bg-[#000921]/40"
  >
    <div class="flex h-full flex-col w-[1224px] relative">
      <div class="h-full flex flex-col gap-8 absolute items-center justify-center  w-[1920px] overflow-hidden">
        <header class="w-full mb-10">
          <span
            class="mb-8 font-black w-40 border-[0.8px] flex justify-center rounded-full py-2 px-2 text-xs"
            >QUE OFRECEMOS</span
          >

          <h1 class="text-7xl font-bold text-white mb-6">
            Soluciones Constructivas a Medida
          </h1>
          <div class="flex w-[80%] justify-between items-center">
            <h2 class="text-white text-xl font-bold">
              Cada servicio es ejecutado por profesionales especializados,
              garantizando calidad, seguridad y cumplimiento de plazos.
            </h2>
            <div class="flex gap-4">
              <span class="size-12 bg-white rounded-full"></span>
              <span class="size-12 bg-white rounded-full"></span>
            </div>
          </div>
        </header>
        <footer class="flex gap-8 ">
          <div class="flex flex-col bg-white w-full py-7 px-6 rounded-2xl">
            <header>
              <span class="size-12 bg-primary-blue rounded-xl block mb-6"
              ></span>
              <h2 class="font-bold text-2xl mb-6">Yesería y Revoque Fino</h2>
              <p class="text-lg font-bold text-[#5D5D5D] mb-6">
                Trabajos de yeso, masillado, alisado de paredes y cielorrasos
                para terminaciones perfectas.
              </p>
              <ul class="mb-6 text-lg ml-5 list-disc">
                <li class="">Pintura interior y exterior</li>
                <li>Tratamiento de humedad</li>
                <li>Aplicación de texturas especiales</li>
                <li>Garantía de 2 años</li>
              </ul>
            </header>

            <footer class="w-full">
              <div
                class="mb-10 text-sm font-bold flex justify-between items-center bg-[#E1E0FF] px-3 py-2"
              >
                <span class="text-xs">DESDE</span>
                <span>320/m²</span>
              </div>
              <div class="w-full flex flex-col gap-2">
                <a
                  class="bg-primary-blue border-blue-950 py-2 w-full text-center text-white font-black"
                  href="">Solicitar Presupuesto</a
                >
                <a
                  class="border-blue-950 border-2 py-2 w-full text-center text-blue-primary font-black"
                  href="">Ver proyectos similares</a
                >
              </div>
            </footer>
          </div>

          <div class="flex flex-col bg-white w-full py-7 px-6 rounded-2xl">
            <header>
              <span class="size-12 bg-primary-blue rounded-xl block mb-6"
              ></span>
              <h2 class="font-bold text-2xl mb-6">Yesería y Revoque Fino</h2>
              <p class="text-lg font-bold text-[#5D5D5D] mb-6">
                Trabajos de yeso, masillado, alisado de paredes y cielorrasos
                para terminaciones perfectas.
              </p>
              <ul class="mb-6 text-lg ml-5 list-disc">
                <li class="">Pintura interior y exterior</li>
                <li>Tratamiento de humedad</li>
                <li>Aplicación de texturas especiales</li>
                <li>Garantía de 2 años</li>
              </ul>
            </header>

            <footer class="w-full">
              <div
                class="mb-10 text-sm font-bold flex justify-between items-center bg-[#E1E0FF] px-3 py-2"
              >
                <span class="text-xs">DESDE</span>
                <span>320/m²</span>
              </div>
              <div class="w-full flex flex-col gap-2">
                <a
                  class="bg-primary-blue py-2 w-full text-center text-white font-bold"
                  href="">Solicitar Presupuesto</a
                >
                <a
                  class="bg-primary-blue py-2 w-full text-center text-white font-bold"
                  href="">Ver proyectos similares</a
                >
              </div>
            </footer>
          </div>

          <div class="flex flex-col bg-white w-full py-7 px-6 rounded-2xl">
            <header>
              <span class="size-12 bg-primary-blue rounded-xl block mb-6"
              ></span>
              <h2 class="font-bold text-2xl mb-6">Yesería y Revoque Fino</h2>
              <p class="text-lg font-bold text-[#5D5D5D] mb-6">
                Trabajos de yeso, masillado, alisado de paredes y cielorrasos
                para terminaciones perfectas.
              </p>
              <ul class="mb-6 text-lg ml-5 list-disc">
                <li class="">Pintura interior y exterior</li>
                <li>Tratamiento de humedad</li>
                <li>Aplicación de texturas especiales</li>
                <li>Garantía de 2 años</li>
              </ul>
            </header>

            <footer class="w-full">
              <div
                class="mb-10 text-sm font-bold flex justify-between items-center bg-[#E1E0FF] px-3 py-2"
              >
                <span class="text-xs">DESDE</span>
                <span>320/m²</span>
              </div>
              <div class="w-full flex flex-col gap-2">
                <a
                  class="bg-primary-blue py-2 w-full text-center text-white font-bold"
                  href="">Solicitar Presupuesto</a
                >
                <a
                  class="bg-primary-blue py-2 w-full text-center text-white font-bold"
                  href="">Ver proyectos similares</a
                >
              </div>
            </footer>
          </div>

          <div class="flex flex-col bg-white w-full py-7 px-6 rounded-2xl">
            <header>
              <span class="size-12 bg-primary-blue rounded-xl block mb-6"
              ></span>
              <h2 class="font-bold text-2xl mb-6">Yesería y Revoque Fino</h2>
              <p class="text-lg font-bold text-[#5D5D5D] mb-6">
                Trabajos de yeso, masillado, alisado de paredes y cielorrasos
                para terminaciones perfectas.
              </p>
              <ul class="mb-6 text-lg ml-5 list-disc">
                <li class="">Pintura interior y exterior</li>
                <li>Tratamiento de humedad</li>
                <li>Aplicación de texturas especiales</li>
                <li>Garantía de 2 años</li>
              </ul>
            </header>

            <footer class="w-full">
              <div
                class="mb-10 text-sm font-bold flex justify-between items-center bg-[#E1E0FF] px-3 py-2"
              >
                <span class="text-xs">DESDE</span>
                <span>320/m²</span>
              </div>
              <div class="w-full flex flex-col gap-2">
                <a
                  class="bg-primary-blue py-2 w-full text-center text-white font-bold"
                  href="">Solicitar Presupuesto</a
                >
                <a
                  class="bg-primary-blue py-2 w-full text-center text-white font-bold"
                  href="">Ver proyectos similares</a
                >
              </div>
            </footer>
          </div>
        </footer>
      </div>
    </div>
  </div>
</section>
