---
import ButtonPrimary from "../components/ButtonPrimary.astro";
---

<section class="w-[1224px] flex flex-col h-max justify-between py-36">
  <span
    class="mb-8 font-bold w-40 border-[0.8px] flex justify-center rounded-full py-2 px-2 text-xs"
    >¿POR QUÉ ELEGIRNOS?</span
  >
  <div class="flex w-full gap-9">
    <div class="flex flex-col justify-end">
      <span
        class="h-[732px] w-[508px] rounded-4xl bg-[url(src/assets/img/WhyChooseImage.jpg)] bg-center bg-cover relative"
      >
        <div class="h-full w-full rounded-4xl absolute bg-[#000921]/40"></div>
      </span>
    </div>
    <div class="w-full flex flex-col">
      <h2 class="text-7xl font-bold mb-8">Que nos diferencia de los demás</h2>
      <p class="font-medium text-xl mb-2">
        Nos especializamos en brindar soluciones constructivas integrales,
        combinando profesionalismo, eficiencia y compromiso.
      </p>
      <p class="font-medium text-xl mb-4">
        Cada proyecto refleja nuestro enfoque personalizado, orientado al
        detalle y al cumplimiento de plazos.
      </p>

      <p class="font-bold text-lg mb-6">Nuestros pilares:</p>
      <ul class="flex items-center justify-between mb-6">
        <li class="flex flex-col items-center gap-2 font-bold">
          <span class="bg-[#2C3E50] rounded-full size-11"></span>Maquinaria
          Propia
        </li>
        <li><span class="w-[0.5px] h-12 bg-black block"></span></li>
        <li class="flex flex-col items-center gap-2 font-bold">
          <span class="bg-[#2C3E50] rounded-full size-11"></span>Puntualidad
          Garantizada
        </li>
        <li><span class="w-[0.5px] h-12 bg-black block"></span></li>
        <li class="flex flex-col items-center gap-2 font-bold">
          <span class="bg-[#2C3E50] rounded-full size-11"></span>Soluciones a
          Medida
        </li>
      </ul>
      <ButtonPrimary text="Conocé nuestra historia" />
    </div>
  </div>
</section>
